<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{pageTitle}}</title>

	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" href="/public/css/foundation/css/foundation.css">
	<link rel="stylesheet" href="/public/css/main.css">
</head>