{{!-- 
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
 --}}


<nav class="container navbar-default formerNav" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
    <a class="navbar-brand" href="#">Brand</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Left</a></li>
        <li><a href="#about">Left</a></li>
    </ul>
    <form class="navbar-form" action="/search" method="GET">
        <div class="former">
          	<input name="search" type="text" placeholder="Search for game" class="form-control" >
            <select class="searchDropdown" name="type">
              <option value="game">Game</option>
              <option value="company">Company</option>
              <option value="system">System</option>
            </select>
          	<button type="submit" class="btn btn-default" tyle="display:inline">Submit</button>
        </div>
        
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#about">Right</a></li>
      <li><a href="#contact">Right</a></li>
    </ul>
  </div>
</nav>









