<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">VGDB</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="#">Option1</a></li>
			<li><a href="#">Option2</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Login</a></li>
			<li><a href="#" style="margin-right: 32px">Signup</a></li>
		</ul>
	</div>
</nav>