<!DOCTYPE html>

<html>
	{{> head}}
	<body>
		{{> nav}}


		
		<div class="row main-view home-main-view">
			{{>slideshow}}
			<div class="column large-8 small-12">
			<!--LEFT COLLUMN-->
				LEFT COLUMN
			</div>
		
			<div class="column large-4">
			<!--RIGHT COLUMN-->
				RIGHT COLUMN
			</div>
		</div>
	{{> jsbottom}}
	</body>
</html>