<!DOCTYPE html>

<html>
	{{> head}}
	
	<body>
		{{> nav}}
		<div class="container">
			<p>HOME</p>
			<form action="/search" method="GET">
				<input name="search" type="text" placeholder="Search for game">
				<input type="submit">
			</form>
		</div>
	</body>
</html>