<!DOCTYPE html>

<html>
	{{> head}}
	<body class="grad-container">
		{{> nav}}
		<div class="row main-view game-main-view">
			<div class="column large-8">
			<!--LEFT COLUMN-->
				{{> searchResults}}
			</div>
		
			<div class="column large-4">
			<!--RIGHT COLUMN-->
				RIGHT COLUMN
			</div>
		</div>
		<!--Js-->
		{{> jsbottom}}
		<script src="../../public/js/gameMenu.js">
		</script>
	</body>
</html>