
.rightColumnGameView{
	background-color: #274449;
	height: 1500px;
	border-left: 1px solid #333;
}
.leftColumnGameView{
	color: #E5FFFC;
	background-color: #2D4D54;
}
.leftColumnGameView h1{
	color: #B5E5E4;
}
.leftColumnGameView h4{
	color: #B5E5E4;
}

.mediaView{
	background-color: black;
	height: 400px;

}